<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.coenraets.employeedirectory"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>QBiG</name>
 
    <description>
        A simple employee directory application
    </description>
 
    <author href="http://wwww.qianbig.com" email="emc@qianbig.com">
        Enming Chen
    </author>
    
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="android-minSdkVersion" value="10" />
    <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-targetSdkVersion" value="14" />
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>